@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>Food World</h1>
<p class="lead">Foodworld Private Limited operates a chain of good restaurants<br> All you get is good quality of food</p>